version: '3'

services:
  db:
    image: mysql:5.7
    volumes:
       - db_data:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: slant
        MYSQL_USER: user
        MYSQL_PASSWORD: password
    ports:
      - "3306:3306"

  notebook:
    build: .
    command: jupyter notebook --ip 0.0.0.0 --notebook-dir=/src --allow-root
    volumes:
      - ..:/src
      - ./config:/root
      - ./log:/var/log
    ports:
      - "8888:8888"
    environment:
      - TFHUB_CACHE_DIR=/src/capstone-prototype/data/tf-hub-cache

  python-cli:
    build: .
    command: bash 
    volumes:
      - ..:/src
      - ./config:/root
      - ./log:/var/log
    working_dir: /src/
    environment:
      - TFHUB_CACHE_DIR=/src/capstone-prototype/data/tf-hub-cache

  tensorboard:
    build: .
    command: ["tensorboard", "--logdir=/var/log", "--bind_all"]
    volumes:
      - ./log:/var/log
    working_dir: /src/
    ports:
      - "6006:6006"
    environment:
      - TFHUB_CACHE_DIR=/src/capstone-prototype/data/tf-hub-cache



volumes:
  db_data:



